<div id="footer">
  Generated on <%= Time.now.strftime("%c") %> by 
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool">yard</a>
  <%= YARD::VERSION %>  and the 
  <a href="http://github.com/dreamcat4/yard-slipstream">yard-slipstream</a> plugin
	(ruby-<%= RUBY_VERSION %>).
</div>
