<div id="search2">
  <% @yardoc_org = "http://yardoc.org" %>
  <% @project = "yard" %>
  <div class="search2_center">
    <form class="search2" onsubmit="return false;" action="">
      <input name="q" type="search" placeholder="Search" id="search_box2" size="30" value="" />
    </form>
  </div>
  <script type="text/javascript" charset="utf-8"> 
    $('#search_box2').focus(function(){
      var search_index = relpath + 'search_index.json';
      jQuery.getJSON(search_index, go_data);

      function go_data(adata) {
        $('#search_box2').autocomplete(adata, {
          width: 300,
          matchContains: true,
          formatItem: function(item) {
            return item.text;
          }
        }).result(function(event, item) {
          location.href = relpath + $(item.href_tag).attr("href");
        });
      }
    });
  </script> 
</div>
