<div id="search2">
  <% @yardoc_org = "http://yardoc.org" %>
  <% @project = "yard" %>
  <form class="search2" method="get" action="<%= @yardoc_org %>/search/<%= @project %>"> 
    Search: <input name="q" type="search" placeholder="Search" id="search_box2" size="30" value="" /> 
  </form> 
  <script type="text/javascript" charset="utf-8"> 
    $('#search_box2').focus(function(){
      var search_index = relpath + 'search_index.json';
      jQuery.getJSON(search_index, go_data);

      function go_data(adata) {
        $('#search_box2').autocomplete(adata, {
          width: 340,
          matchContains: true,
          formatItem: function(item) {
            return item.text;
          }
        }).result(function(event, item) {
          location.href = relpath + $(item.href_tag).attr("href");
        });
      }
    });
  </script> 
  <style> 
    .frames form.search2 { position: absolute; right: 14px; top: -6px; padding-top: 10px; }
    .frames #menu .noframes { float: none; }
    .frames #menu { float: left; }
    .frames #content h1 { margin-top: 15px; }
  </style> 
</div>
